

.border {
    border-width: 500px;
    border-style: solid;
    border-color: #000000;
    border-radius: '50px';
    overflow: 'hidden' ;
  }
  
.videoSize{
    min-height: 25vh;
    min-width: 25vw;
    max-height: 100vh;
    border-radius: '50px';

}

.subheader{
    font-size: 20px;
    line-height: 32px;
    font-weight: 350;
}

.font16{
    font-size: 16px;
}

.font18{
    font-size: 18;
}

.header{
    font-size: 50px;
    line-height: 41px;
    font-weight: 400;
}

.actionheader{
    font-size: 24px;
    line-height: 32px;
}

.actionattributes {
    font-size: 20px;
    line-height: 32px;
}

.width80{
    width: 80%;
}

.radius{
    border-radius: 10px;
}

.buttoncolors{
    width: 100%;
    color: white;
    background-color: #202020;
}

.buttoncolors:hover{
    color: white;
}

.alighncenterall {align-items: center;}


.MainHeaderText {
    line-height: 1.1;
}

@media (max-width: 640px) {
    
    .header{
        font-size: 48px;
        line-height: 41px;
        font-weight: 200;
        text-align: center;
    }

    .subheader{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .alighncenter{
        align-items: center;
    }

}