@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,500&family=Heebo&family=Kalam:wght@300&family=Kanit:ital,wght@1,300&display=swap%27');


body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
